$size:
47px,
50px,
25px,
20px;

$colour:
purple,
black,
white;

$weight-letter:
bold;

$text-order:
left,
right;

$direction: 
column,
row;

$type: 
italic;

$bank: 
1rem,
2rem,
3rem,
auto,
2%;

$wideness: 
10%,
20%,
30%,
40%,
100%;

$height: 
10px,
20px,
30px;

$show: 
block,
flex;

