* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../img/rainbow-pastel-blurred-background-free-vector.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    height: 50px;
    text-align: center;
    border-bottom: 6px solid plum;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 0.7;
    color: white;
}

.menu-button:focus {
    box-shadow: none;
    border: 1px solid lightgray;
}

.menu-icon{
    margin-left: 0rem;
    margin-top: 0rem;
    font-size: 25px;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 4px solid white;
    padding: .8rem;
    border-radius: 50%;
}
.menu-word{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.logo-icon{
    margin-top: 0%;
    margin-left: 0%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

a {
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.consulta{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;

}

h2 {
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}


p {
    color: blueviolet;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
    margin-top: 2%;
    font-size: 25px;
}

.clothes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sale {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message input {
    width: 50%;
    padding: 5rem;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

.input-wrapper input {
    width: fit-content;
}

.contact-form div label {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.submit-button {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    border-color: white;
    margin: auto;
    border: 1px solid ghostwhite;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
}



/* Seccion quienes somos grid */

.quienes-container {
    display: grid;
    grid-template-areas:
        "header-grid header-grid"
        "h1-grid h1-grid"
        "imagen texto"
        "footer-grid footer-grid"
}

.header-grid {
    grid-area: header-grid;
}

.h1-grid {
    grid-area: h1-grid;
}

.imagen {
    padding: 1rem;
    grid-area: imagen;
}

.texto {
    display: flex;
    align-items: center;
    grid-area: texto;
    padding: 0 1rem;
}

.footer-grid {
    grid-area: footer-grid;
}

@media screen and (max-width: 990px) {
    nav {
        height: auto;
        
    }  
    img {
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }  
}


@media screen and (max-width: 768px) {
    nav {
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    h2{
        font-size: medium;
    }

    .quienes-container {
        grid-template-areas:
            "header-grid header-grid"
            "h1-grid h1-grid"
            "texto texto"
            "imagen imagen"
            "footer-grid footer-grid";
    }
    .texto{
        font-size: smaller;
    }
    .contact-form div label{
        font-size: small;
    }
    .consulta{
        font-size: medium;
    }
    p{
        font-size: smaller;
    }
    

}